<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="about">
            <p class="lead">
                Our goal is to grow the local community, search for new developers and spread knowledge and resources.
            </p>
            <p>
                Amsterdam is a very active technology center for the Netherlands, many companies and people from various
                countries have chosen this area to settle down and start their companies. PHP has a big role in this and
                for that reason we created a User Group focused on this area and in doing activities in english to
                acommodate all of these developers.
            </p>
            <p class="lead">Share your knowledge</p>
            <p>
                Meetings need a few things. Our sponsors will cover the beers, you will cover the fun, but we also need
                a speaker to share his knowledge.
            </p>
            <p>
                User Groups are the best place for you to start speaking, a first step toward entering the conference
                circuit. So if you have an idea that you would like to share, discuss and get people interested in, this
                is the place and we need to know it. We need a good solid register of interested speakers so that we can
                organize our meetings, so let us know what you would like to speak on and we will get you into a speaking
                slot. <a href="{{ path('amsphp_be_a_speaker') }}">Apply here.</a>
            </p>
            <p class="follow-title">
                Follow us
            </p>
            <ul class="follow-list list-inline">
                <li><a href="http://twitter.com/amsterdamphp">Twitter</a></li>
                <li><a href="https://www.facebook.com/groups/352174841510553">Facebook</a></li>
                <li><a href="http://meetup.amsterdamphp.nl">Meetup</a></li>
            </ul>
            <p class="design-credits"><a href="www.guimenga.com">Design created by Guilherme Menga</a></p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{{ displayPhotoBar(4) }}
