<nav>
    <div class="row">
        <div class="col-md-4">
            <div class="logo"><img src="/images/logo.png" alt=""/></div>
        </div>
        <div class="col-md-8 text-right">
            <ul class="social-icons list-inline">
                <li><a href="http://twitter.com/AmsterdamPHP"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="http://meetup.amsterdamphp.nl">
                        <img class="custom-icon" src="/bundles/amsterdamphpsite/images/meetup-icon-2.png" alt=""/>
                </a></li>
                <li><a href="https://www.facebook.com/groups/352174841510553"><i class="fa fa-facebook-square"></i></a></li>
            </ul>
            <ul class="nav-menu list-inline">
                <li><a href="http://meetup.amsterdamphp.nl">Meetings</a></li>
                <li><a href="http://blog.amsterdamphp.nl">Blog</a></li>
                <li><a href="">Sponsor Us</a></li>
                <li><a href="">Be a Speaker</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
