<nav>
    <div class="row">
        <div class="col-md-4">
            <div class="logo"><img src="/images/logo.png" alt=""/></div>
        </div>
        <div class="col-md-8 text-right">
            <ul class="social-icons list-inline">
                <li><a href=""><i class="icon-twitter-sign"></i></a></li>
                <li><a href=""><i class="icon-sign-blank"></i></a></li>
                <li><a href=""><i class="icon-facebook-sign"></i></a></li>
            </ul>
            <ul class="nav-menu list-inline">
                <li><a href="">Meetings</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Sponsor Us</a></li>
                <li><a href="">Be a Speaker</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
