{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <header>
            {% include 'AmsterdamPHPSiteBundle::_header.html.twig' %}
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            {% include 'AmsterdamPHPSiteBundle::_footer.html.twig' %}
        </footer>
    </div>

{% endblock %}
