# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
bin/
app/logs/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Misc
xhprof
.vagrant

# Bower
bower_components/*

# npm
node_modules/*