{% extends 'AmsterdamPHPSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="header-photo" style="background-image:url('{{ getMeetupPhotoUrl(header_photo, 'highres') }}')">
        <div class="photo-credits">photo by {{ getMeetupPhotoCredits(header_photo) }}</div>
        <span>An english-speaking group for <b>PHP</b></span>
        <span>developers in and around <b>Amsterdam</b></span>
    </div>
    <h1>Hello!</h1>
{% endblock %}
