{% extends 'AmsterdamPHPSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="sponsors-page">
        <div class="row">
            <h1>Our Sponsors</h1>
        </div>

        {% if sponsors.gold.count() > 0 %}
            {% include 'AmsterdamPHPSponsorBundle:Default/sponsor-rows:gold.html.twig' %}
        {% endif %}

        {% if sponsors.silver.count() > 0 %}
            {% include 'AmsterdamPHPSponsorBundle:Default/sponsor-rows:silver.html.twig' %}
        {% endif %}

        {% if sponsors.bronze.count() > 0 %}
            {% include 'AmsterdamPHPSponsorBundle:Default/sponsor-rows:bronze.html.twig' %}
        {% endif %}

        {% include 'AmsterdamPHPSponsorBundle:Default/sponsor-rows:others.html.twig' %}
    </div>
{% endblock %}
