<div class="sponsors-category others">

    <div class="sponsors-category community"> <!-- col-md-6 -->
        <div class="header">
            <h2>Community Sponsors</h2>
        </div>
        <div class="sponsor-list">
            {% for rows in sponsors.community|batch(6) %}
                <div class="sponsor-row">
                    {% for sponsor in rows %}
                        <div class="sponsor">
                            <div class="logo"> <!-- col-md-2-->
                                <a href="{{ sponsor.url }}">
                                    <img src="{{ sponsor.getLogo()|imagine_filter('sponsor_community') }}" alt="" />
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="sponsors-category meeting"> <!-- col-md-6 -->
        <div class="header">
            <h2>Meeting Sponsors</h2>
        </div>
        <div class="sponsor-list">
            {% for sponsor in meetings %}
                <div class="sponsor">
                    <div class="logo"> <!-- col-md-2-->
                        <a href="{{ sponsor.url }}">
                            <img src="{{ sponsor.getLogo() }}" alt="" />
                            <div class="caption text-center">
                                JAN'14
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
