<h2 class="title-bar">Sponsor Us</h2>

<div class="row">
    <div class="col-lg-8 col-md-8">
        <p>If you wish to sponsor AmsterdamPHP we have many options available to you. Please look over the list below and pick an option.</p>

        <ul>
            <li><strong>Sponsor a Meeting</strong> If you wish to host a meeting, get in touch using the form below.</li>
            <li><strong>Sponsorship Packages</strong> We have many packages available, please get in touch with the form below and we will send you details.</li>
            <li><strong>Donations</strong> For small values you can use the donate button and we will get in touch.</li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="9DP976L7R54SS">
            <input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>

