{% extends 'AmsterdamPHPSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="contact-page">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="details">
                    <h3 class="title-bar">AmsterdamPHP Foundation</h3>
                    <h5 class="subtitle-bar">Stichting AmsterdamPHP</h5><br>

                    <ul>
                        <li><i class="fa fa-fw fa-map-marker"></i> Blankenstraat 49A, 1018RR, Amsterdam</li>
                        <li><i class="fa fa-fw fa-phone"></i> +31 (0)84 8774044</li>
                        <li><i class="fa fa-fw fa-envelope-o"></i> contact@amsterdamphp.nl</li>
                        <li><i class="fa fa-fw fa-globe"></i> http://amsterdamphp.nl</li>
                        <li><i class="fa fa-fw fa-legal"></i> KvK. 59177640</li>
                        <li><i class="fa fa-fw fa-money"></i> IBAN NL03ABNA0569579171</li>
                    </ul>

                    <h4 class="subtitle-bar">Organizers</h4><br>
                    <ul class="organizer-list">
                        <li class="organizer-line row">{% include 'AmsterdamPHPSiteBundle:shared:_organizer.html.twig' with { name: "Rafael Dohms", email: "rdohms@amsterdamphp.nl", twitter: 'rdohms'} %}</li>
                        <li class="organizer-line row">{% include 'AmsterdamPHPSiteBundle:shared:_organizer.html.twig' with { name: "Pascal de Vink", email: "pascal@amsterdamphp.nl"} %}</li>
                        <li class="organizer-line row">{% include 'AmsterdamPHPSiteBundle:shared:_organizer.html.twig' with { name: "Jakub Gadkowski", email: "jakub@amsterdamphp.nl"} %}</li>
                        <li class="organizer-line row">{% include 'AmsterdamPHPSiteBundle:shared:_organizer.html.twig' with { name: "Jeroen Groeneweg", email: "jeroen@amsterdamphp.nl"} %}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="form">
                    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

                    {% if sponsor_context %}
                        {% include "AmsterdamPHPSiteBundle:Contact:_sponsor_us.html.twig" %}
                    {% endif %}

                    <h2 class="title-bar">Contact us</h2>

                    {{ form(form, { 'style': 'horizontal' }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
