{% extends 'AmsterdamPHPSiteBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{ form(form, {action: path("login_check"), style: 'horizontal', method: "post"}) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
